@import url("font.css");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary: #00ab67;
  --secondary: #c5ead9;
  --white: #e6f1ff;
  --green: #64ffda;

  --font-sans: "Quicksand", sans-serif;

  --fz-xxs: 12px;
  --fz-xs: 13px;
  --fz-sm: 14px;
  --fz-md: 16px;
  --fz-lg: 18px;
  --fz-xl: 20px;
  --fz-xxl: 22px;
  --fz-heading: 32px;
  --border-radius: 4px;
  --nav-height: 100px;
  --nav-scroll-height: 70px;
  --tab-height: 42px;
  --tab-width: 120px;
  --easing: cubic-bezier(0.645, 0.045, 0.355, 1);
  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  --hamburger-width: 30px;
  --ham-before: top 0.1s ease-in 0.25s, opacity 0.1s ease-in;
  --ham-before-active: top 0.1s ease-out, opacity 0.1s ease-out 0.12s;
  --ham-after: bottom 0.1s ease-in 0.25s,
    transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  --ham-after-active: bottom 0.1s ease-out,
    transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
}

body {
  font-family: var(--font-sans);
  font-size: var(--fz-xl);
  line-height: 1.3;
  font-weight: 500;
  color: var(--slate);
  background-color: var(--navy);
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;

  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
.wrapper {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
}

.nav {
  padding: 30px 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  display: flex;
  align-items: center;

  display: flex;
  gap: 10px;

  justify-items: center;
}
.nav__logo span {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;

  /* BaseGreen */

  color: #00ab67;
}
.nav__logo img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}
.nav__links {
  display: flex;
  gap: 30px;
  list-style: none;
}
.nav__links a {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  /* identical to box height */

  /* Black */

  color: #253d4e;
}
.nav__links a:hover {
  color: #00ab67;
}

.active {
  color: var(--primary) !important;
  font-weight: bold;
}

.btn {
  background-color: var(--primary);
  color: var(--white);
  padding: 10px 20px;
  border-radius: 5px;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  color: var(--white);
  border: none;
  /* identical to box height */

  /* Black */
}
.btn-outline {
  color: var(--primary);
  border: 1px solid var(--primary);
  padding: 10px 20px;
  border-radius: 5px;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  /* identical to box height */
  color: var(--primary);

  /* Black */
}

.hero {
  border-radius: 30px;
  padding: 89px 60px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
  background-repeat: none;
  height: 477px;
  background-size: cover;
}
.hero__content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}
.hero__search-box{
  margin-top: 29px;
}
.hero__title{
  font-family: 'Quicksand';
font-style: normal;
font-weight: 700;
font-size: 55px;
line-height: 69px;
letter-spacing: -0.01em;

/* Black */

color: #253D4E;
}
.hero__subtitle{
  font-family: 'Quicksand';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 25px;
/* identical to box height */

letter-spacing: -0.01em;

color: #838383;

}
.hero-color {
background: rgba(197, 234, 217, 0.78); 
  border-radius: 30px;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  height: 100%;
  z-index: -1;
}
.hero-wrapper {
  padding: 10px 70px;
}

.hero__img {
  width: 642px;
  height: 513px;
  position: absolute;
  right: 0;
}
.hero__search-box{
  display: flex;
}

.input-group {
  display: flex;
align-items: center;
  position: relative;
}
.input-group i {
  position: absolute;
  left: 10px ;
  top: 50%;
  transform: translateY(-50%);
  color: #ADADAD;
}
.hero__search-box input {
  width: 437px;
  height: 50px;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 0 40px;
  font-family: 'Quicksand';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 18px;
/* identical to box height */


/* Grey */

color: #ADADAD;
  outline: none;
}
.hero__search-box  .btn{
  border : none;
  border-radius: 0;
}
.category{
  display: flex;
  flex-direction: column;
  margin-top: 30px;
    padding: 30px 120px;

}

.category-header{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.category-header h2{
  font-family: 'Quicksand';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 40px;
/* identical to box height */


/* Black */

color: #253D4E;
}
.see-all{
  color: #00ab67 ;
  cursor: pointer;
}

.category-grid{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 22px;
}
.category-box {
  margin-top: 37px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 20px;
  border-radius: 10px;
background: #FEEFEA;
}

.category-box img{
  width: 101px;
height: 101px;
object-fit: cover;
}

.category-box h3 {
  font-family: 'Quicksand';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
/* identical to box height */


color: #253D4E;
}

.category-box span{
  font-family: 'Quicksand';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 18px;
/* identical to box height */


/* Grey */

color: #ADADAD;
}

.product-grid{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 22px;
}
.category-content{
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
 align-items: center;
}
.product-box{
  margin-top: 37px;
  display: flex;
  flex-direction: column;
  
  gap: 15px;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  border: 1px solid rgba(173, 173, 173, 0.25);
border-radius: 3px;
}

.product-content{
  display: flex;
  flex-direction: column;
  gap: 5px;

  text-align: left;
  justify-content: start;
}

.product-content span{
  font-family: 'Quicksand';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 15px;
/* identical to box height */


/* Grey */

color: #ADADAD;

}

.product-content h4{
  font-family: 'Quicksand';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 20px;
/* identical to box height */


/* Black */

color: #253D4E;


}
.product-star{
  margin-top: 5px;
  display: flex;
  align-items: center;
  gap: 2px;
}
.product-content h5{
  margin-top: 3px;
  font-family: 'Quicksand';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
/* identical to box height */


/* Grey */

color: #ADADAD;
}
.product-content h5 span{
  color: var(--primary);
  font-weight: 400;
}
.price-box{
  display: flex;
  align-items: center;
  margin-top: 10px;
  gap: 5px;
  justify-content: space-between;
}
.product-price{
  font-family: 'Quicksand';
font-style: normal !important;
font-weight: 600  !important;
font-size: 18px !important;
line-height: 22px !important;
/* identical to box height */


/* BaseGreen */

color: #00AB67 !important;
}

.btn-cart{
  
width: 89.5px;
height: 33.67px;

/* LightGreen */

background: #DEF9EC;
border-radius: 2px;
outline: none;
border: none;
color: var(--primary);
font-family: 'Quicksand';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 18px;
/* identical to box height */
cursor: pointer;

/* BaseGreen */

}

.promo{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  margin-top: 30px;
    padding: 30px 120px;
    position: relative;
    gap: 20px;
}

.promo-box{
  width: 100%;
background: rgba(255, 245, 225, 0.85);
border-radius: 3px;
padding: 10px 48px;
display: grid;
grid-template-columns: repeat(2, 1fr);
align-items: center;
position: relative;
height: 300px;


}


.promo-content {
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.promo-content span {
  background: #FFD480;
border-radius: 3px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
font-weight: 500;
font-size: 12px;
line-height: 15px;
width: 100px;

padding: 7px;
}
.promo-content h5 {
font-family: 'Quicksand';
font-style: normal;
font-weight: 600;
font-size: 28px;
line-height: 35px;
/* identical to box height */


/* Black */

color: #253D4E;

}

.promo-content p{
  font-family: 'Quicksand';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
letter-spacing: -0.01em;

color: #838383;
}
.promo-img{
  position: absolute;
  right: 10px;
  bottom: 0;
}
.promo-content .btn{
  width: 143px;
}

.flash-sale{
 
  
  margin-top: 30px;
    padding: 30px 120px;
}

.flash-sale-box{
background: rgba(197, 234, 217, 0.78); 
padding: 20px;
}